@import "../node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#search-form {
  position: fixed;
  z-index: 100;
  bottom: 5px;
  left: 0;
  width: 100%;
}